{
	"endOfLine": "auto",
	"arrowParens": "avoid",
	"bracketSpacing": true,
	"jsxBracketSameLine": false,
	"jsxSingleQuote": false,
	"singleQuote": true,
	"printWidth": 100,
	"proseWrap": "always",
	"quoteProps": "as-needed",
	"semi": true,
	"useTabs": true,
	"tabWidth": 2,
	"trailingComma": "es5"
}
