@import '@/assets/styles/variables.scss';

.input {
	border: 0px;
	border-radius: 8px;
	background-color: $gray-seven;
	padding: 8px 15px;
	color: $white;
	width: 100%;
	height: 42px;
	font-size: inherit;
	cursor: pointer;
	caret-color: transparent;

	&:focus {
		outline: 1px solid $gray-one;
	}

	:hover {
		cursor: pointer;
	}

	&Filled {
		padding-left: 37px;
	}

	&Caption {
		color: $gray-one;
		text-transform: uppercase;

		&Optional {
			color: $gray-one;
		}
	}

	&Error {
		color: $error-one;
		font-size: $font-small-enlarged;
		text-align: left;
		padding-top: 5px;
	}

	&Loader {
		position: absolute;
		right: -30px;
		display: flex;
		top: 0;
		bottom: 0;
		margin: auto;
		align-items: center;

		&Label {
			display: flex;
			margin-top: -2px;
			margin-left: 10px;
			align-items: center;
		}
	}

	&:active {
		animation: grow 0.1s ease-out;
	}

	&MinifiedImage {
		max-width: 25px;
		max-height: 25px;
		position: absolute;
		left: 5px;
		margin: auto;
		top: 0;
		bottom: 0;
	}

	&Wrapper {
		height: 40px;
		position: relative;
	}

	&Icon {
		background-color: $gray-seven;
		position: absolute;
		height: 15px;
		width: 15px;
		right: 10px;
		top: 0;
		bottom: 0;
		margin: auto;
	}

	&Container {
		display: flex;
		flex-direction: column;
		gap: 10px;
		cursor: pointer;
	}

	&Label {
		line-height: 1.4rem;
		display: flex;
	}
}

@keyframes grow {
	0% {
		transform: scale(1);
	}

	100% {
		transform: scale(1.2);
	}
}
