@import '@/assets/styles/variables.scss';

.creatorLabel {
	display: flex;
	justify-content: space-around;
	align-items: center;

	> p {
		margin-right: 1em;
	}

	&Name {
		cursor: pointer;

		transition: 0.3s ease-out;

		:hover {
			color: $purple-one;
		}
	}
}
