@import '@/assets/styles/variables.scss';

.input {
	color: $white;
	border: 0px;
	background-color: $gray-seven;
	padding: 8px 15px;
	width: 100%;
	font-size: $font-medium;
	font-family: $open-sans-font;
	resize: none;
	padding: 8px 15px;
	border-radius: 8px;
	font-size: inherit;

	&Error {
		color: $error-one;
		font-size: $font-small-enlarged;
		text-align: left;
		padding-top: 5px;
	}

	&Container {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		gap: 10px;
	}

	&Label {
		line-height: 1.4rem;
	}

	&Caption {
		color: $gray-one;
		text-transform: uppercase;

		&Optional {
			color: $gray-one;
		}
	}

	&FieldArea {
		display: flex;
		width: 100%;
		position: relative;
		margin-top: 5px;

		&MarginTopFree {
			@extend .inputFieldArea;
			margin-top: 0;
		}
	}

	&:focus {
		outline: 1px solid $gray-one;
	}

	&WithIcon {
		padding-left: 40px;
	}

	&Gray {
		@extend .input;
		color: $gray-two;
	}

	&InfoType {
		@extend .input;

		color: $gray-one;
		background-color: transparent;
		border: none;
		border-radius: 0;
		cursor: default;
		padding: 7px 0;
		overflow: hidden;
	}
}
