@import '@/assets/styles/variables.scss';
@import '@/components/Input/styles.module.scss';

.createEdition {
	padding-right: 20%;
	border-right: 1px solid $gray-two;
	order: 1;
	overflow-y: auto;

	@media (max-width: $breakpoint-l) {
		border-right: 0;
		padding-right: 0;
		order: 2;
	}

	&ActionTitle {
		font-size: $font-big;

		&Wrapper {
			display: flex;
			justify-content: space-between;
			align-items: center;
			gap: 20px;
		}
	}

	&FormArea {
	}

	&SubmitButton {
		display: flex;
		justify-content: center;
		margin-top: 30px;
		margin-bottom: 80px;
		width: 100%;
	}

	&NavigationHeader {
		padding-bottom: 15px;
	}

	&Wrapper {
		position: relative;
		padding: 2% 4%;
	}

	&Container {
		display: grid;
		height: $page-height;
		grid-template-columns: 1fr 1fr;
		padding-block: 20px;

		@media (max-width: $breakpoint-l) {
			grid-template-columns: 1fr;
			padding-block: 15px;
		}
	}
}

.preview {
	max-width: 40vw;

	&ImageContainer {
		display: flex;
		align-items: center;
	}

	&Mobile {
		&ContentWrapper {
			margin: 0 5px;
			border-bottom: 1px solid $gray-eleven;
		}
		width: 100%;
		display: grid;
		grid-template-columns: 3fr 7fr 5fr;
	}

	&Modal {
		max-width: 80vw;
	}

	&Image {
		max-width: 50vw;
		max-height: 50vh;

		&Mobile {
			max-width: 60px;
			max-height: 60px;
		}

		&Wrapper {
			text-align: center;
			margin-bottom: 30px;
			border: none;

			&Mobile {
				display: flex;
				align-items: center;
				justify-content: center;
				padding: 15px;
				text-align: center;
				border: none;
			}
		}

		&Empty {
			@extend .previewImage;
			background-color: $gray-eight;
			min-width: 350px;
			min-height: 350px;

			&Mobile {
				@extend .previewImageEmpty;
				border-radius: 5px;
				border-width: 0;
				min-width: 45px;
				min-height: 45px;
			}
		}
	}

	&Labels {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: center;
		> :nth-child(1) {
			border-right: 0;
		}
	}
	&Label {
		color: $gray-one;
		font-size: $font-small-enlarged;
		text-transform: uppercase;
		margin-bottom: 5px;

		&Item {
			flex-direction: column;
			display: flex;
			align-items: center;
			padding: 20px;
			flex-grow: 1;
			border: 1px solid $gray-two;
		}

		&Value {
			font-size: $font-medium-enlarged;
		}
	}

	&Section {
		display: flex;
		justify-content: center;
		padding: 0 20px;

		order: 2;

		&Mobile {
			order: 1;

			width: 100%;

			position: sticky;
			top: 72px;

			border-bottom: 2px solid $gray-eleven;

			margin-bottom: 20px;

			background-color: $black-one-transparent;
		}
	}

	&MainAttributes {
		display: flex;
		gap: 30px;
		justify-content: space-between;
		margin: 30px 0;

		&Mobile {
			font-size: $font-small-enlarged;
			display: flex;
			white-space: break-spaces;
			gap: 10px;
			flex-direction: column;
			padding: 10px 0;
		}

		&Price {
			&Mobile {
				white-space: nowrap;
				font-size: $font-base;
				display: flex;
				align-items: center;
			}
		}

		&Name {
			font-size: $font-big-enlarged;
			&Mobile {
				font-size: $font-medium;
			}
		}

		&Description {
			overflow-wrap: anywhere;
			color: $gray-one;
		}
	}
}

.customField {
	&Container {
		@extend .inputContainer;
	}

	&Controls {
		&EditionSize {
			display: grid;
			grid-template-columns: 7fr 10fr;
			grid-gap: 20px;
		}

		&ValidityDate {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: baseline;
			gap: 20px;

			> div {
				flex: 1;
			}
		}
	}

	&Item {
		display: flex;
		align-items: center;

		> div {
			width: 100%;
		}
	}

	&Label {
		@extend .inputLabel;
	}
}

.tonLogo {
	max-width: 60px;

	&Mobile {
		max-width: 25px;
	}
}
