@import '@/assets/styles/variables.scss';
@import '@/components/Input/styles.module.scss';

.createEdition {
	order: 1;

	padding-right: 20%;
	padding-bottom: 20px;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;

	border-right: 1px solid $gray-eleven;

	> * {
		width: 100%;
	}

	@media (max-width: $breakpoint-l) {
		border-right: 0;
		padding-right: 0;
		order: 2;
	}

	&ActionTitle {
		font-size: $font-big;

		&Wrapper {
			display: flex;
			justify-content: space-between;
			align-items: center;
			gap: 20px;

			button {
				border: 1px solid $gray-eleven;
			}
		}
	}

	&SubmitButton {
		display: flex;
		justify-content: center;
		width: 100%;
	}

	&NavigationHeader {
		padding-bottom: 15px;
	}

	&Container {
		display: grid;
		grid-template-columns: 1fr 1fr;
		padding-block: 20px;
		position: relative;
		overflow: auto;

		@media (max-width: $breakpoint-l) {
			grid-template-columns: 1fr;
			padding-block: 15px;
		}
	}
}

.preview {
	max-width: 40vw;
	width: 100%;

	&Mobile {
		&ContentWrapper {
			margin: 0 5px;
			border-bottom: 1px solid $gray-eleven;
		}
		width: 100%;
		display: grid;
		grid-template-columns: 3fr 7fr 5fr;
	}

	&Modal {
		max-width: 80vw;
		max-height: 70vh;
	}

	&Image {
		cursor: pointer;

		&Container {
			display: flex;
			align-items: center;
		}

		max-width: 100%;
		max-height: 50vh;

		&Mobile {
			max-width: 60px;
			max-height: 60px;
		}

		&Wrapper {
			text-align: center;
			margin-bottom: 30px;
			border: none;

			&Mobile {
				display: flex;
				align-items: center;
				justify-content: center;
				padding: 5px 15px 15px 15px;
				text-align: center;
				border: none;
			}
		}

		&Empty {
			@extend .previewImage;
			background-color: $gray-eight;
			min-width: 350px;
			min-height: 350px;

			&Mobile {
				@extend .previewImageEmpty;
				border-radius: 5px;
				border-width: 0;
				min-width: 45px;
				min-height: 45px;
			}
		}
	}

	&Labels {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: center;
		> :nth-child(1) {
			border-right: 0;
		}
	}
	&Label {
		color: $gray-one;
		font-size: $font-small-enlarged;
		text-transform: uppercase;
		margin-bottom: 5px;

		&Item {
			flex-direction: column;
			display: flex;
			align-items: center;
			padding: 20px;
			flex-grow: 1;
			border: 1px solid $gray-eleven;
		}

		&Value {
			font-size: $font-medium-enlarged;
		}
	}

	&Section {
		display: flex;
		justify-content: center;
		padding: 0 20px;
		width: 100%;
		padding-left: 20%;

		order: 2;

		&Mobile {
			order: 1;
			padding: 0 20px 0 0;

			width: 100%;

			position: sticky;
			top: 2px;

			border-bottom: 2px solid $gray-eleven;

			margin-bottom: 20px;

			background-color: $black-one-transparent;
		}
	}

	&MainAttributes {
		display: flex;
		gap: 30px;
		justify-content: space-between;
		margin: 30px 0;

		&Mobile {
			font-size: $font-small-enlarged;
			display: flex;
			white-space: break-spaces;
			gap: 10px;
			flex-direction: column;
			padding: 10px 0;
		}

		&Price {
			width: 50%;

			&Mobile {
				white-space: nowrap;
				font-size: $font-base;
				display: flex;
				align-items: center;
			}
		}

		&Name {
			font-size: $font-big-enlarged;
			width: 50%;

			&Mobile {
				font-size: $font-medium;
			}
		}

		&Description {
			overflow-wrap: anywhere;
			color: $gray-one;
		}
	}
}

.customField {
	&Reset {
		color: $gray-one;
		position: absolute;
		right: -55px;
		display: flex;
		top: 37px;
		margin: auto;
		cursor: pointer;
		font-weight: $font-normal;
		&Mobile {
			color: $gray-one;
			margin-left: 10px;
			font-weight: $font-normal;
		}
	}

	&Container {
		@extend .inputContainer;
		position: relative;
	}

	&Controls {
		&EditionSize {
			display: grid;

			@media (max-width: $breakpoint-m) {
				grid-template-columns: 11fr 7fr;
			}

			grid-template-columns: 7fr 10fr;
			grid-gap: 20px;
		}

		&ValidityDate {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: baseline;
			gap: 20px;

			> div {
				flex: 1;
			}
		}
	}

	&Item {
		display: flex;
		align-items: center;

		> div {
			width: 100%;
		}
	}

	&Label {
		@extend .inputLabel;
		&Date {
			display: flex;
			justify-content: space-between;
		}
	}
}

.deploymentModal {
	display: flex;
	align-items: center;
	gap: 20px;
	flex-direction: column;

	&Image {
		justify-content: center;
		max-width: 100px;
	}

	&Spinner {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		padding-bottom: 2px;
		padding-left: 2px;
	}

	&Actions {
		display: flex;
		gap: 20px;
		justify-content: center;
		flex-wrap: wrap;
	}

	&Title {
		text-align: center;
		font-size: $font-medium-enlarged;
		display: flex;

		&Caption {
			text-align: center;
			font-weight: $font-normal;
		}
	}
}

.tonLogo {
	max-width: 60px;

	&Mobile {
		max-width: 25px;
	}
}
