@import '@/assets/styles/variables.scss';

.collection {
  display: grid;
  grid-template-columns: 1fr 1fr;

  &Menu {
    &Title {

    }

    &Actions {
      :nth-child(1) {
        border-top: none;
      }
    }

    &Item {
      padding: 20px;
      border: 1px solid $gray-two;
      display: flex;

      &Content {
        font-weight: $font-bold;
      }
     
      &Caption {
        font-weight: $font-normal;
      }

      &Title {
        font-weight: $font-bold;
        font-size: $font-medium-enlarged;
      }
    }
  }
  
  &LeftSide {
    display: grid;
    grid-template-rows: 1fr 10fr;


    &Content {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &Navigation {
      padding-left: 50px;
    }
  }

  &RightSide {
    background-image: url('../../assets/images/png/createCollection/createProject.png');
    display: flex;
    align-items: center;
    justify-content: center;

    &Content {
      font-size: $font-extra-huge;
      font-weight: $font-semi-bold;
      color: $white;
    }
  }

}