@import '@/assets/styles/variables.scss';
.footer {

	&Img {
		width: 30px;
		height: 30px;
		margin-left: 10px;
		cursor: pointer;
	}

	display: flex;
	justify-content: flex-end;
	align-items: center;

	align-self: flex-end;

	height: $header-height;
	width: 100%;
	padding-block: 24px;

	background-color: transparent;
	background: transparent;

	p {
		user-select: none;
		color: $white;
	}
}
