@import '@/assets/styles/variables.scss';
.footer {

	&Img {
		width: 30px;
		height: 30px;
		margin-left: 20px;
		background-image: url('./../../../assets/images/svg/common/githubIcon.svg');
		background-size: cover;
		cursor: pointer;
		transition: 0.5s;
		&:hover {
			background-image: url('./../../../assets/images/svg/common/githubIconHover.svg');
			background-size: cover;
		}
	}

	display: flex;
	justify-content: flex-end;
	align-items: center;
	position: absolute;
	bottom: 0;

	align-self: flex-end;

	height: $header-height;
	width: 100%;
	padding-block: 24px;

	background-color: transparent;
	background: transparent;

	p {
		user-select: none;
		color: $white;
	}

	a {
		transition: 0.3s ease-out;

		&:hover {
			color: $purple-one;
		}
	}
}
