@import '@/assets/styles/variables.scss';

.pageContainer {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	min-height: $page-height;
	width: 100%;
	background-color: $black-one;
	position: relative;
	overflow: hidden;

	padding-inline: 16px;

	@media (min-width: $breakpoint-xs) {
		padding-inline: 24px;
	}

	@media (min-width: $breakpoint-s) {
		padding-inline: 40px;
	}

	@media (min-width: $breakpoint-m) {
		padding-inline: 60px;
	}

	@media (min-width: $breakpoint-l) {
		padding-inline: 80px;
	}

	@media (min-width: $breakpoint-xl) {
		padding-inline: 108px;
	}
}
