@import '@/assets/styles/variables.scss';
@import '@/assets/styles/index.scss';

.landingBackground {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	pointer-events: none;

	li:nth-child(1)  {
		@extend .unselectable;
		list-style: none;

		background-image: url('./../../../assets/images/png/landing/CubeLeft.png');
		background-size: contain;

		width: 70vw;
		min-width: 350px;
		max-width: 1000px;
		aspect-ratio: 1 / 1;

		
		position: absolute;
		right: 50vw;
		bottom: 30vh;

		@media (max-width: $breakpoint-m) {
			bottom: 40vh;
		}

		@media (max-width: $breakpoint-s) {
			bottom: 50vh;
		}
	}

	li:nth-child(2) {
		@extend .unselectable;
		position: absolute;
		list-style: none;
	
		background-image: url('./../../../assets/images/png/landing/CubeRight.png');
		background-size: contain;

		min-width: 300px;
		width: 60vw;
		max-width: 860px;
		aspect-ratio: 1 / 1;
		
		left: 50vw;
		top: 20vh;

		@media (max-width: $breakpoint-m) {
			top: 35vh;
		}

		@media (max-width: $breakpoint-s) {
			top: 50vh;
		}
	}
}