@import '@/assets/styles/variables.scss';

.landing {
  &Container {
    margin: 0 10%;
    border-top: 1px solid $gray-two;
    padding: 20px ;
  }
 
  &Presentation {
    &Section {
      display: grid;
      grid-auto-flow: column;
      grid-template-columns: 18fr 4fr;
    }

    &Details {
      font-size: $font-medium;
      display: flex;
      flex-direction: column;
      gap: 90px;
      margin-left: -50px;
      align-items: center;
    }

    &Examples {
      display: flex;

      :nth-child(1) {
        margin-left: -20px;
      }
    }

    &Example {

      &Wrapper {
        border-radius: 100%;
        margin-left: -50px;
        background-color: $white;
      }
      height: 160px;
    }

    &Explanation {
      display: flex;
      flex-direction: column;
      gap: 20px;

      &Section {
        color: $gray-one;
      }
    }

    &Slogan {
      font-size: $font-extra-huge;
    }
  }
}