@import '@/assets/styles/variables.scss';

.landing {
	&Container {
		position: relative;
		padding: 20px;
		background-color: $black-one;
	}

	&Cube {
		max-width: 40vw;
		position: absolute;
		z-index: 0;

		&Right {

			right: 0;
			top: 3%;
			@extend .landingCube;
		}

		&Left {
			top: 0;
			left: 0;
			@extend .landingCube;
		}
	}

	&Presentation {
		&Section {
			display: flex;
			flex-direction: column;
			color: $white;
		}

		&Details {
			font-size: $font-medium;
			display: flex;
			flex-direction: column;
			gap: 90px;
			margin-left: -50px;
			align-items: center;
		}

		&Examples {
			display: flex;

			:nth-child(1) {
				margin-left: -20px;
			}
		}

		&Example {
			&Wrapper {
				border-radius: 100%;
				margin-left: -50px;
				background-color: $white;
			}
			height: 160px;
		}

		&Explanation {
			display: flex;
			flex-direction: column;
			gap: 20px;

			&Section {
				color: $white;
				text-align: center;
				max-width: 30vw;
			}
		}

		&Slogan {
			font-size: $font-extra-huge;
			&Item {
				display: block;
				text-align: center;
			}
		}
	}
}
