@import '@/assets/styles/variables.scss';

.landing {
	&Container {
		position: relative;
		padding: 20px;
		background-color: $black-one;
		height: 100%;
		overflow: hidden;
	}

	&Cube {
		position: absolute;
		z-index: 0;
		user-select: none;
		pointer-events: none;

		&Left {
			z-index: 1;
			width: 50vw;
			top: 0;
			left: 0;
			@extend .landingCube;
		}

		&Right {
			z-index: 3;
			width: 45vw;
			right: 0;
			top: 0;
			@extend .landingCube;
		}
	}

	&Presentation {
		&Section {
			display: flex;
			flex-direction: column;
			color: $white;
		}

		&Details {
			font-size: $font-medium;
			display: flex;
			flex-direction: column;
			gap: 90px;
			align-items: center;

			button {
				z-index: 4;
			}
		}

		&Examples {
			display: flex;

			:nth-child(1) {
				margin-left: -20px;
			}
		}

		&Example {
			&Wrapper {
				border-radius: 100%;
				background-color: $white;
			}
			height: 160px;
		}

		&Explanation {
			display: flex;
			flex-direction: column;
			gap: 20px;

			&Section {
				text-align: center;
				max-width: 375px;

				color: $white;
				font-weight: 500;
				text-shadow: 1px 3px $black-one;
				z-index: 4;
			}
		}

		&Slogan {
			z-index: 1;

			font-size: $font-extra-huge;
			text-shadow: 3px 3px 5px $black-one;
			margin-bottom: 0.25em;

			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			&Item {
				text-align: center;
			}
		}
	}
}
