@import '@/assets/styles/variables.scss';
@import '@/assets/styles/index.scss';

.input {
	border: 0px;
	background-color: $gray-seven;
	padding: 8px 15px;
	width: 100%;
	border-radius: 8px;
	color: $white;
	font-size: inherit;

	&Content {
		&Main {
			display: flex;
			position: relative;
			flex-grow: 1;
		}
		&Supplementary {
			&Mobile {
				> * {
					width: 100%;
				}
			}
			// margin-left: 10px;
		}
	}

	&SubCaption {
		font-size: $font-base;
		color: $gray-one;
	}

	&NoEdit {
		cursor: not-allowed;
	}

	&Wrapper {
		position: relative;
		display: flex;
		gap: 15px;

		&Mobile {
			flex-direction: column;
		}
	}

	&Units {
		@extend .unselectable;

		display: flex;
		align-items: center;
		position: absolute;
		color: $gray-one;
		font-weight: $font-bold;
		right: 10px;
		top: 0;
		bottom: 0;
		margin: auto;
	}

	&Caption {
		color: $gray-one;
		text-transform: uppercase;

		&Optional {
			color: $gray-one;
		}
	}

	&Error {
		color: $error-one;
		font-size: $font-small-enlarged;
		text-align: left;
		padding-top: 5px;
	}

	&Container {
		display: flex;
		flex-direction: column;
		gap: 10px;

		&Marginless {
			@extend .inputContainer;
			margin-top: 0;
		}
	}

	&Label {
		line-height: 1.4rem;
	}
}
