@import '@/assets/styles/variables.scss';
@import '@/assets/styles/index.scss';

.button {
	@extend .unselectable;
	position: relative;
	border: none;
	color: $black-one;
	border-radius: 8px;
	font-size: $font-medium;
	margin: 0;
	cursor: pointer;
	white-space: nowrap;
	font-weight: $font-semi-bold;
	background-color: $white;
	display: inline-block;

	transition: 0.3s ease-out;

	&:hover {
		background-color: $gray-thirteen;
	}

	&Invisible {
		visibility: hidden;
	}

	&Disabled {
		background-color: $gray-ten;
		color: $black-one;

		cursor: not-allowed;

		&:hover {
			color: $black-one;
		}
	}

	&Danger {
		@extend .button;

		background-color: $error-one;
		color: $white;

		&:hover {
			background-color: $error-one-highlight;
		}

		&.buttonDisabled {
			background-color: $error-disabled;
			color: $black-one;

			cursor: not-allowed;
		}
	}

	&BasicInverted {
		@extend .button;
		background-color: transparent;
		color: $white;
		border: 1px solid $gray-eleven;

		&Icon {
			background-color: transparent;
			border: 0;
		}

		&:hover {
			background-color: $gray-eleven;
		}
	}

	&Expanded {
		width: 100%;
	}

	&Wrapper {
		&Expanded {
			@extend .button;
			width: 100%;
		}
	}

	&WithIcon {
		@extend .button;
		border-radius: 100% !important;
		border: 1px solid $gray-ten;
		padding: 5px;
		&:hover {
			background-color: inherit;
		}
	}

	&:active {
		transform: scale(0.98);
	}

	&Icon {
		&Image {
			display: block;
			height: 30px;
			width: 30px;
			text-align: center;
			display: flex;
			justify-content: center;
			border-radius: 100px;
			border-radius: 100px;
			border: 0px;

			&Salad {
				@extend .buttonIconImage;
				background-color: $salad-one;
				border: 1px solid $salad-one;
			}

			&White {
				@extend .buttonIconImage;
				background-color: $white;
				border: 0px solid $gray-one;
			}
		}
	}

	&Content {
		padding-top: 10px;
		padding-bottom: 10px;
		border-radius: 8px;

		&WithArrow {
			@extend .buttonContent;
			display: grid;
			width: 100%;
			grid-template-columns: 8fr 1fr;
			padding: 0;
		}

		&Basic {
			@extend .buttonContent;
			display: flex;
			padding-left: 20px;
			padding-right: 20px;
			align-items: center;
			justify-content: center;

			&Mini {
				@extend .buttonContentBasic;
				font-size: $font-base;
			}
		}
		&Main {
			display: flex;
			align-items: center;
			justify-content: center;
		}

		&White {
			background-color: $white;
		}
	}

	&Trembling {
		animation: shake 1.4s linear 0s infinite alternate;
	}

	@keyframes shake {
		from {
			transform: translateY(0);
		}
		to {
			transform: translateY(17px);
		}
	}
}

.wallet {
	> div > button {
		@extend .button;
		display: flex;
		justify-content: space-between;
		align-items: center;
		background-color: transparent;
		border: 1px solid $white;
	}

	> div > div > button {
		@extend .button;
		display: flex;
		justify-content: space-between;
		align-items: center;
		background-color: transparent;
		border: 1px solid $white;
	}
}
