@import '@/assets/styles/variables.scss';

.button {
  display: flex;
  position: relative;

  align-items: center;
  justify-content: center;
  border: none;
  color: $black-one;
  border-radius: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0 5px;
  max-height: 2rem;
  cursor: pointer;
  white-space: nowrap;
  font-weight: $font-semi-bold;
  border-radius: 100% !important;


  &Expanded {
    width: 100%;
  }

  &Wrapper {
    &Expanded {
      @extend .button;
      width: 100%;
    }

  }

  &WithIcon {
    @extend .button;
    padding-right: 0;
  }

  &:active {
    transform: scale(0.98);
  }

  &Icon {
    &Image {
      display: block;
      height: 40px;
      width: 40px;
      text-align: center;
      display: flex;
      justify-content: center;
      border-radius: 100px;
      background-color: $white;
      border-radius: 100px;
      border: 1px solid $gray-two;

      &Salad {
        @extend .buttonIconImage;
        background-color: $salad-one;
        border: 1px solid $salad-one
      }

      &White {
        @extend .buttonIconImage;
        background-color: $white;
        border: 0px solid $gray-one;
      }
    }

  }

  &Content {
    display: grid;
    width: 100%;
    grid-template-columns: 8fr 1fr;
    border-radius: 20px;
    padding: 2px px 2px 0;

    &Main {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &White {
      background-color: $white;
    }
    &Salad {
      background-color: $salad-one;
    }
  }
}


