@import '@/assets/styles/variables.scss';

.button {
  display: flex;
  position: relative;

  align-items: center;
  justify-content: center;
  border: 1px solid $salad-one;
  background-color: $salad-one;
  color: $black-one;
  border-radius: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0 5px;
  max-height: 2rem;
  cursor: pointer;
  white-space: nowrap;
  font-weight: $font-semi-bold;


  &Expanded {
    width: 100%;
  }

  &Wrapper {
    &Expanded {
      @extend .button;
      width: 100%;
    }
  }

  &WithIcon {
    @extend .button;
    padding-right: 0;
  }

  &:active {
    transform: scale(0.98);
  }

  &Icon {
    &Wrapper {
      margin-left: 10px;
      height: 40px;
      width: 40px;
      text-align: center;
      display: flex;
      justify-content: center;
      background-color: $white;
      border-radius: 100px;
    }

  }

  &Content {
    display: grid;
    width: 100%;
    grid-template-columns: 8fr 1fr;

    &Main {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

