@import '@/assets/styles/variables.scss';

.header {
	&Container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: relative;

		min-height: 50px;
		width: 100%;
		padding: 24px 0;

		border-bottom: 1px solid $gray-two;
	}
}
