@import '@/assets/styles/variables.scss';

.header {
	&Container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: relative;

		min-height: 50px;
		width: 100%;
		padding-block: 24px;
		background-color: $black-one;

		z-index: 100;

		@media (max-width: $breakpoint-l) {
			position: sticky;
			top: 0;
			background-color: $black-one-transparent;
		}

		&Transparent {
			padding: 24px 30px;
			background-color: transparent;

			@media (max-width: $breakpoint-l) {
				background-color: transparent;
			}
		}
	}

	&Logo {
		cursor: pointer;
	}
}
