@import '@/assets/styles/variables.scss';

.editions {
	&Container {
		padding-block: 40px;
		display: flex;
		flex-direction: column;
		flex-grow: 1;
	}

	&Header {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;

		@media (max-width: $breakpoint-m) {
			flex-direction: column;
			justify-content: flex-start;
			align-items: center;
			gap: 30px;
		}

		&Buttons {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			gap: 20px;

			@media (max-width: $breakpoint-xs) {
				flex-direction: column;
				justify-content: center;
			}
		}
	}

	&ShowCase {
		padding-block: 40px;
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
		gap: 25px;
	}
}
