@import '@/assets/styles/variables.scss';

.editions {
	&Container {
		padding-block: 40px;
	}

	&Header {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;

		@media (max-width: $breakpoint-m) {
			flex-direction: column;
			justify-content: flex-start;
			align-items: center;
			gap: 30px;
		}
	}

	&ShowCase {
		padding-block: 40px;
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
		gap: 25px;
	}

	&Item {
		padding: 20px;
		border-radius: 8px;
		border: 2px solid $gray-eleven;
		font-weight: 100;

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		gap: 20px;

		> div {
			width: 100%;
		}

		&Header,
		&Info {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		&Info {
			color: $gray-one;
		}

		&Preview {
			img {
				aspect-ratio: 1;
				width: 100%;
				max-width: 100%;
			}
		}
	}
}
