@import './variables.scss';

// Global classes and elements styles declaration
:root {
	font-size: $font-medium;
	font-weight: $font-semi-bold;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

* {
	font-family: 'Sans' !important; // due to ton-connect goober dependency
}

body {
	margin: 0;
}

input[type='number'] {
	&::-webkit-inner-spin-button,
	-webkit-outer-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
}

a {
	text-decoration: none;
	color: inherit;
	user-select: none;
	-webkit-user-drag: none;
}

html,
body,
#root {
	min-height: 100vh;
}

#root > div {
	flex-grow: 1;
}

@font-face {
	font-family: 'Sans';
	font-style: normal;
	font-weight: $font-light;
	src: url('../fonts/Syne-SemiBold.ttf');
}

@font-face {
	font-family: 'Sans';
	font-style: normal;
	font-weight: $font-normal;
	src: url('../fonts/Syne-Regular.ttf');
}

@font-face {
	font-family: 'Sans';
	font-style: normal;
	font-weight: $font-semi-bold;
	src: url('../fonts/Syne-SemiBold.ttf');
}

@font-face {
	font-family: 'Sans';
	font-style: normal;
	font-weight: $font-bold;
	src: url('../fonts/Syne-Bold.ttf');
}

.unselectable {
	-webkit-touch-callout: none;
	/* iOS Safari */
	-webkit-user-select: none;
	/* Safari */
	-khtml-user-select: none;
	/* Konqueror HTML */
	-moz-user-select: none;
	/* Old versions of Firefox */
	-ms-user-select: none;
	/* Internet Explorer/Edge */
	user-select: none;
}
