@import './variables.scss';

// Global classes and elements styles declaration
:root {
	font-size: $font-base !important;
	font-weight: $font-semi-bold;
	font-size: $font-medium;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

* {
	font-family: 'Sans' !important; // due to ton-connect goober dependency
	user-select: none;
}

img {
	-webkit-user-drag: none;
}

body {
	margin: 0;
}

input[type='number'] {
	&::-webkit-inner-spin-button,
	-webkit-outer-spin-button {
		-webkit-appearance: none;
		-moz-appearance: none;
		margin: 0;
	}
}

a {
	text-decoration: none;
	color: inherit;
	user-select: none;
	-webkit-user-drag: none;
}

html,
body,
#root {
	min-height: 100vh;
	display: flex;
	flex-grow: 1;
}

#root > div {
	flex-grow: 1;
}

@font-face {
	font-family: 'Sans';
	font-style: normal;
	font-weight: $font-light;
	src: url('../fonts/Syne-SemiBold.ttf');
}

@font-face {
	font-family: 'Sans';
	font-style: normal;
	font-weight: $font-normal;
	src: url('../fonts/Syne-Regular.ttf');
}

@font-face {
	font-family: 'Sans';
	font-style: normal;
	font-weight: $font-semi-bold;
	src: url('../fonts/Syne-SemiBold.ttf');
}

@font-face {
	font-family: 'Sans';
	font-style: normal;
	font-weight: $font-bold;
	src: url('../fonts/Syne-Bold.ttf');
}
