$black-one: #111111;
$black-one-transparent: #111111e6;

$salad-one: #e1ffa0;
$open-sans-font: 'Sans';
$syne-font: 'Syne';

$white: #fff;
$gray-one: #888888;

$gray-two: #dddddd;
$gray-three: #c4c9d8;
$gray-four: #f6f6f6;
$gray-five: #f2f2f2;
$gray-six: #e1e1e1;
$gray-seven: #212121;
$gray-eight: #4e4e4e;
$gray-nine: #292929;
$gray-ten: #7e7e7e;
$gray-eleven: #444444;

$error-one: #f5365c;

:export {
	black: $black-one;
}

$font-small: 7px;
$font-small-enlarged: 12px;
$font-base: 14px;
$font-medium: 16px;
$font-medium-enlarged: 18px;
$font-big: 20px;
$font-big-enlarged: 24px;
$font-huge: 26px;
$font-huge-enlarged: 42px;
$font-extra-huge: 130px;
$font-mega-huge: 160px;

$font-extra-bold: 700;
$font-bold: 600;
$font-semi-bold: 500;
$font-normal: 400;
$font-light: 300;

$breakpoint-xs: 575.98px;
$breakpoint-s: 767.98px;
$breakpoint-m: 991.98px;
$breakpoint-l: 1199.98px;
$breakpoint-xl: 1399.98px;
