$black-one: #111111;

$salad-one: #e1ffa0;

$grey-one: #888888;

$open-sans-font: 'Open Sans';

$white: #fff;
$gray-two: #dddddd;
$gray-three: #c4c9d8;

$font-small: 7px;
$font-small-enlarged: 13px;
$font-base: 14px;
$font-medium: 16px;
$font-medium-enlarged: 18px;
$font-big: 20px;
$font-big-enlarged: 24px;
$font-huge: 26px;
$font-huge-enlarged: 42px;
$font-extra-huge: 180px;

$font-extra-bold: 700;
$font-bold: 600;
$font-semi-bold: 500;
$font-normal: 400;
$font-light: 300;
