@import '@/assets/styles/variables.scss';

.status {
	&Container {
		padding: 10px 16px;
		border-radius: 6px;
		background-color: $black-two;

		display: flex;
		justify-content: center;
		align-items: center;
		gap: 10px;

		> div {
			height: 4px;
			width: 4px;
			border-radius: 1px;
			background-color: $green-one;

			box-shadow: 0 0 0 2px transparentize($green-one, 0.8);
		}

		font-size: 14px;
	}

	&Ended {
		color: $gray-one;
	}
}
